{% extends "base.html" %}

{% block content %}
<!-- two column information -->
<div class ="row">
  <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="mx-auto" style="text-align: center;margin-top: 150px;">
          <h1>Create a Game</h1>
          <form action="/game/create" method="POST">
            <div class="form-group">
              <label for="input-bot_url">API Endpoint Link</label>
              <input type="text" class="form-control" id="input-bot_url" name="bot_url" placeholder="Enter endpoint link">
              <input type="hidden" name="bot_role" value="lpaddle">
              <small class="form-text text-muted">Don't worry this won't cost you anything. This'll help us interface with your bot!</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}