{% extends "base.html" %}

{% block content %}
    <!-- two column information -->
    <div class ="row" id = "grrey" style="height: 100vh;">
      <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="mx-auto" style="text-align: center;margin-top: 50px;">
              <h1 class="jumboheader">Welcome to AI Royale!</h1>
                <br><br><br><br>
              <p style = "font-size: 20px">We’re committed to redefining the way we approach machine learning education. Instead of dreading through hours of lectures and coursework, learn the fundamentals of machine learning through developing your own artificial intelligence to battle against other AI. </p>
            <br><br>

            {% if not uid %}
            <p>Enter a username to get started!</p>
            <form action="/" method="POST">
              <input type="text" name="uid" id="input-uid" placeholder="username" style="padding: 5px">
              <input type="submit" value="✔" style="padding: 5px;">
            </form>
            {% else %}
            <a href="/tutorial">
              <button type="button" class="btn btn-outline-success btn-fpage-top" style = "font-size: 24px;">&nbspCreate Your First Bot!</button>
            </a>
            {% endif %}

            <br><br><br><br>

          </div>
        </div>
      <div class="col-sm-3"></div>
    </div>
    <div id = "bluuu" style="height: 100vh;">
      <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <div class="mx-auto" style="text-align: left; margin-top: 150px; padding-right: 50px;">
          <h3 class="fpageheads">TUTORIALS</h3>
          <br>
          <p style = "color: white;font-size: 18px;">Our tutorials will guide you through the A to Z of machine learning and programming principles.

            By the end of our curriculum, you’ll have produced an artificial intelligence capable of defeating some of the smartest bots on the Internet.</p>
          <br><br>
          <button type="button" class="btn btn-outline-success btn-fpage-down" style = "font-size: 24px;" href="/tutorial">Get Started</button>
          <br><br><br><br>
        </div>
</div>  <div class="col-sm-4">
          <div class="mx-auto" style="text-align: left;margin-top: 150px;padding-right: 50px;">
            <h3 class="fpageheads">BATTLEGROUND</h3>
            <br>
            <p style = "color: white; font-size: 18px;">Once the training wheels are off, you can duel your AI against other AI to climb the global leaderboard.

            Couldn’t overthrow the reigning champion? Refine your algorithm and try again until your AI becomes the smartest to claim the throne for once and for all.</p>
            <br><br>
            <button type="button" class="btn btn-outline-success btn-fpage-down" style = "font-size: 24px;" href="/tutorial">Play Now</button>
            <br><br><br><br>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    </div>
{% endblock %}